@model Portfolio
@{
    ViewData["Title"] = "CreateProject";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>Proje Ekleme Sayfası</h1>
<form method="post">
    <input type="hidden" asp-for="PortfolioID" value="" />
    <label>Proje Başlığı</label>
    <input type="text" asp-for="Title" class="form-control" style="border:1px solid black;" />
    <br />
    <label>Proje Açıklaması</label>
    <input type="text" asp-for="Description" class="form-control" style="border:1px solid black;" />
    <br />
    <label>GitHub Url</label>
    <input type="text" asp-for="GithubUrl" class="form-control" style="border:1px solid black;" />
    <br />
    <label>GitHub Url</label>
    <input type="text" asp-for="ImageUrl" class="form-control" style="border:1px solid black;" />
    <br />
    <label>Kategori ID</label>
    <input type="text" asp-for="CategoryID" class="form-control" style="border:1px solid black;" />
    <br />

    <button class="btn btn-primary">Proje Ekle</button>

</form>

